@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>@_worldName</h1>
        <FluentDivider />
        <FluentStack Orientation="Orientation.Horizontal">
            <FluentStack Orientation="Orientation.Vertical">
                <PassageView @ref="_passageView" Passage="@_passage" />
                @if (@_commands is not null)
                {
                    <CommandBar Commands="@_commands" ExecuteCommandAsync="@ExecuteCommand" />
                }
                <StoryLine LogLines="_logLines"></StoryLine>
            </FluentStack>
            <Inventory Items="_inventoryItems"></Inventory>
        </FluentStack>
    </Authorized>
    <NotAuthorized>
        <p><strong>Please <a href="authentication/login">log in</a>.</strong></p>
    </NotAuthorized>
</AuthorizeView>

@code {
  private PassageView _passageView;
}