@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular

<FluentOverflow Orientation="Orientation.Vertical">
    @foreach (var item in Items)
    {
        <FluentOverflowItem Fixed="OverflowItemFixed.Ellipsis">
            <FluentBadge Style="height:100%">
                <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" Style="max-width:180px;height:100%">
                    <span>
                        <FluentIcon Value="@(new Size20.Square())"></FluentIcon>
                        @item.Name
                    </span>
                    <span style="width: 100%;white-space:normal;word-wrap:break-word">
                        @item.Description
                    </span>
                </FluentStack>
            </FluentBadge>
        </FluentOverflowItem>
    }
</FluentOverflow>